* {
  margin: 0;
  padding: 0;
}

div#diagram {
  width: 40vw;
  height: auto;
  background-image: url("diagram.png");
}

img {
  margin: 50px;
  border: 2px black;
  width: 40vw;
  height: auto;
}

div.Heading {
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  font-size: 40px;
  margin: 20px;

}

div.Heading2 {
  font-weight: bold;
  font-family: 'Inconsolata', monospace;
  font-size: 20px;
  margin: 20px;
}
